body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;

  background-color: #000;
  background-image: url("../img/index-bg.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  line-height: 18px;
  color: #000;

  background-color: #f8f3f0;
  background-image: url("../img/bg-light.png");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #fff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 75px;
}

.main-navigation {
  width: 100%;
  margin-bottom: 60px;

  font-size: 16px;
  line-height: 20px;
  color: #fff;

  background-color: #000;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 72px;
}

.main-header-logo{
  margin: 0 auto;
}

.site-navigation,
.user-navigation {
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #fff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.features-list {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  
  list-style: none;
}

.feature-item {
  width: 290px;
  text-align: center;
}

.feature-item h3 {
  font-size: 30px;
  line-height: 42px;
}

.index-columns {
  display: flex;
  padding: 50px 80px;
  margin-bottom: 36px;
  justify-content: space-between;

  color: #000;

  background-color: #f8f5f2;
  background-image: url(../img/bg-light.png);
  background-position: 0 0;
  background-repeat: repeat;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 42px;
}

.news-list {
  width: 380px;
  padding-left: 0;
  list-style: none;
}

.news-item p {
  margin: 0;
}

.news-item {
  margin-bottom: 25px;
}

.news-item time {
  text-transform: none;
}

.gallery {
  width: 300px;
}

.gallery-content {
  margin: 0;
  margin-bottom: 38px;

  background-color: #ccc;
  border: 7px solid #fff;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
}

.gallery-button {
  width: 140px;
  height: 44px;
}

.contacts {
  width: 330px;
}

.contacts p {
  margin: 0;
  margin-top: 30px;
}

.contacts-container {
  margin-top: 25px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.appointment {
  width: 300px;
}

.appointment-info {
  margin-bottom: 20px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  display: flex;
  flex-direction: column;

  margin-top: 0;
}

.appointment-form label {
  padding-left: 15px;
  padding-bottom: 10px;
}

.appointment-form input {
  width: 108px;
  height: 18px;

  padding: 10px 14px;
  font: inherit;

  background-color: transparent;
  border: 2px solid #000;
}

/* hover меняет цвет, но focus и active возвращают в черный */
.appointment-form input:focus,
.appointment-form input:hover {
  border-color: #663d15;
}

.appointment-button {
  width: 100%;
  height: 44px;

  margin-top: 20px;
}

.main-footer {
  padding: 0;
  padding-top: 60px;
  margin-top: 65px;
  color: #fff;

  background-color: #212121;
  background-image: url("../img/bg-dark.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
  align-content: center;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: #fff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:active {
  text-decoration: none;
}

.footer-social {
  width: 150px;
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social p {
  margin: 0;
}

.footer-copyright {
  width: 140px;
  margin: 0;
  margin-left: auto;

  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000;

  background-color: #fff;
}

.modal {
  color: #000;

  background-color: #f8f3f0;
  background-image: url("../img/bg-light.png");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  margin: 0;
  font-size: 30px;
  line-height: 42px;
}

.modal-login {
  width: 460 px;
  padding: 55px 80px;
}

.login-form input {
  font: inherit;
  color: #000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.login-form input:focus,
.login-form input:hover {
  border-color: #663d15;
}

.login-icon-user,
.login-icon-password {
  width: 300px;
  padding: 10px 13px;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.restore {
  margin-left: auto;
  color: #000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}

/* Inner pages */

/* .header-logo {
  background-color: #000;
} */

.page-title {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #663d15;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.catalog-item-price b,
.product-price b {
  text-align: center;
  background-color: #e5e5e5;
}

/* Catalog */

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-option:hover,
.filter-option:focus {
  color: #663d15;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #f8f8f8;
}

.catalog-item h3 {
  color: #000;
  text-transform: none;
}

.catalog-item h3:hover,
.catalog-item h3:focus {
  color: #663d15;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #fff;
  background-color: #000;
}

.pagination-item a:focus,
.pagination-item a:hover {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000;
  background-color: #fff;
}

.pagination-item-current a:focus,
.pagination-item-current a:hover {
  background-color: #fff;
}

/* Catalog item */

.product-photo-preview {
  list-style: none;
}

.product-info {
  font-size: 14px;
  line-height: 24px;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-info ul {
  list-style: none;
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

